.rate-table {
    border: none;
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
}

.rate-table__header {
    padding: 17px;
    &:last-child {
        padding-right: 0;
    }
}

.rate-table__row {
    background-color: $color-glacier;
    &:nth-child(even) {
        background-color: $color-pistachio;
    }
}

.rate-table__data {
    padding: 17px;
}
