/* Display Utilities */

// Position
.position {
    &--relative {
        position: relative;
    }
}

// Block
.block {
    display: block;
}

// Inline
.inline {
    display: inline-block;
}

// Inline block
.inline-block {
    display: inline-block;
}

// Flex
.flex {
    display: flex;
    &--none {
        flex: none;
    }
}

.align-items {
    &--start {
        align-items: flex-start;
    }
    &--end {
        align-items: flex-end;
    }
    &--baseline {
        align-items: baseline;
    }
    &--center {
        align-items: center;
    }
    &--stretch {
        align-items: stretch;
    }
}

.flex-direction {
    &--column {
        flex-direction: column;
    }
    &--column-reverse {
        flex-direction: column-reverse;
    }
    &--row-reverse {
        flex-direction: row-reverse;
    }
    &--row {
        flex-direction: row;
    }
}

.justify-content {
    &--start {
        justify-content: flex-start;
    }
    &--end {
        justify-content: flex-end;
    }
    &--center {
        justify-content: center;
    }
    &--space-between {
        justify-content: space-between;
    }
    &--space-around {
        justify-content: space-around;
    }
}

.align-content {
    &--start {
        align-content: flex-start;
    }
    &--end {
        align-content: flex-end;
    }
    &--center {
        align-content: center;
    }
    &--space-between {
        align-content: space-between;
    }
    &--space-around {
        align-content: space-around;
    }
}
