// Spacing
$space: 50;
@while $space >= 0 {
    .margin-top--#{$space} {
        margin-top: #{$space}px;
    }
    .margin-right--#{$space} {
        margin-right: #{$space}px;
    }
    .margin-bottom--#{$space}{
        margin-bottom: #{$space}px;
    }
    .margin-left--#{$space}{
        margin-left: #{$space}px;
    }
    $space: $space - 5;
}

$space: 30;
@while $space >= 0 {
    .padding-top--#{$space} {
        padding-top: #{$space}px;
    }
    .padding-right--#{$space} {
        padding-right: #{$space}px;
    }
    .padding-bottom--#{$space}{
        padding-bottom: #{$space}px;
    }
    .padding-left--#{$space}{
        padding-left: #{$space}px;
    }
    $space: $space - 5;
}
